---
const title = "LieferMax CMS - Coming Soon";
---
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{title}</title>
</head>
<body>
  <h1>LieferMax CMS</h1>
  <p>Die CMS-Version wird gerade eingerichtet.</p>
  <p>Die statische Version läuft auf dem main Branch.</p>
</body>
</html>
